<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="this-project" value="lib" />
    <!--<add key="syncfusion" value="http://nuget.syncfusion.com/nuget_xamarin/nuget/getsyncfusionpackages/xamarin" />
    <add key="private-remote-nugets" value="http://my-private-server.com" />-->
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <!--<packageSourceCredentials>
    <private-remote-nugets>
      <add key="Username" value="user@my-private-server.com" />
      <add key="Password" value="...my-super-secrete-password..." />
    </private-remote-nugets>
  </packageSourceCredentials>-->
</configuration>