type file
id MzIO
title
    MzIO
owners
    Patrick Blume, Jonathan Ott
authors 
    Patrick Blume, Jonathan Ott
projectUrl
    https://github.com/Computational Systems Biology/MzIO
iconUrl
    https://raw.githubusercontent.com/Computational Systems Biology/MzIO/master/docs/files/img/logo.png
licenseUrl
    https://github.com/Computational Systems Biology/MzIO/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
language
    F#
copyright
    Copyright 2017
tags
    F# MassSpectrometry FSharp MzLite MzMl Wiff BigData
summary
    Generic data model to unify various reader and writer for different formats used in protein mass spectrometry
description
    Generic data model to unify various reader and writer for different formats used in protein mass spectrometry

files
	../../bin/MzIO ==> lib
